<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
<!--    <listeners>-->
<!--        <listener class-name="utils.ListnerToTakeScreenshot"></listener>-->
<!--    </listeners>-->
    <test verbose="2" preserve-order="true" name="C:/com.zen.in">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="test.LoginTest">
                <methods>
                    <include name="loginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>